<nav class="navbar navbar-light bg-light">
	<div class="container-fluid">
		<span class="navbar-brand mb-0 h1 mx-auto">
			<h1><b>Digital Library</b></h1>
		</span>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-sm text-center">
			<h1 class="mt-4">Dashboard</h1>
			<p class="lead mb-3">Welcome back <%= name %>!</p>
		</div>
		<div class="col-sm text-center">
			<br><br>
			<a href="/users/logout" class="btn btn-secondary">Logout</a>
		</div>
	</div>
</div>


<div class="container mt-5">
	
	<div class="text-center m-5">
		<h3>Your Library:</h3>
		<pre>[ You have <%= number_of_articles %> record(s). ]</pre>
	</div>

	<div class="container mt-5">
		<a href="google.pt" class="btn btn-secondary">New Post</a>
	</div>

	<div class="container mt-5 text-justify text-center">

		<% if ( articles.length != 0 ) { %>
		
			<table class="table table-striped">
	
				<thead>
					<tr>
						<th scope="col">Title</th>
						<th scope="col">Category</th>
						<th scope="col">Deliverables</th>
						<th scope="col">Edit</th>
						<th scope="col">Delete</th>
						<th scope="col">Download</th>
					</tr>
				</thead>

				<tbody>

					<% articles.forEach( function (a) { %>
						
						<tr>
							<td> <%= a.title %> </td>
							<td> <%= a.category %> </td>
							<td>ADD LINK</td>
							<td>ADD LINK</td>
							<td>ADD LINK</td>
							<td>ADD LINK</td>
						</tr>

					<% }) %>

				</tbody>

			</table>

		<% } %>

	</div>

</div>




