extends layout

block content
	.w3-container.w3-center.w3-teal
		h1 Utilizador criado com sucesso!

	.w3-container.w3-center.w3-margin
		br
		.w3-margin-top
			h5 A partir de agora poderá usufruir de todos os beneficios indicados na página principal de acordo o seu nível de acesso.

	br
	.w3-container.w3-center.w3-margin
		a(class='button' href='/') Voltar

