extends layout

block content
	.w3-container.w3-teal.w3-center
		h1 Aluno registado com sucesso!
		p Estará, agora, disponível para visualização na lista de alunos
	br
	br
	.w3-container.w3-center
		a(class='button' href='/students') Ver lista de alunos